@{
    Layout = null;
}
   <!DOCTYPE html>
   <html lang=en><head>
       <meta charset=utf-8>
       <meta http-equiv=X-UA-Compatible content="IE=edge">
       <meta name=mobile-web-app-capable content=yes>
       <meta name=viewport content="width=device-width,initial-scale=1">
       <title>uSmart 2.0</title>


<link href=/static1/css/app.b1ccf68f.css rel=preload as=style>
<link href=/static1/css/chunk-vendors.add8eb76.css rel=preload as=style>
<link href=/static1/js/app.d10d6e69.js rel=preload as=script>
<link href=/static1/js/chunk-vendors.c3f9fa0d.js rel=preload as=script>
<link href=/static1/css/chunk-vendors.add8eb76.css rel=stylesheet>
<link href=/static1/css/app.b1ccf68f.css rel=stylesheet>


       </head>
       <style>html {
    overflow-y: hidden
  }</style>
  <body><noscript><strong>We're sorry but vuebu doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div>
    
<script src=/static1/js/chunk-vendors.c3f9fa0d.js></script>
<script src=/static1/js/app.d10d6e69.js></script>

  </body></html>